:root {
    --color-heading: #0B0D19;
    --color-body: #677386;
    --color-bg-button: #3D7BFA;
    --color-text-button: #FFF;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 1rem auto;
    gap: 5rem;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        max-width: 500px;

        h1 {
            color: var(--color-heading);
            font-size: 3rem;
            font-weight: bold;
        }

        p {
            color: var(--color-body);
            font-size: 1.2rem;
            line-height: 1.5;
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            background-color: var(--color-bg-button);
            color: var(--color-text-button);
            padding: 1rem 2rem;
            border-radius: 50px;
            max-width: fit-content;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 0.5rem;
        max-width: 500px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 8px;
        }

        img:nth-child(1) {
            grid-column: 2/3;
        }

        img:nth-child(2) {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        img:nth-child(3) {
            grid-column: 2/3;
            grid-row: 2/4;
        }

        img:nth-child(4) {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        img:nth-child(5) {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        img:nth-child(6) {
            grid-column: 3/4;
            grid-row: 3/4;
        }

        img:nth-child(7) {
            grid-column: 2/3;
            grid-row: 4/5;
        }
    }
}